<footer class="amazon-footer">
  <div class="back-to-top">
    <button>Back to top</button>
  </div>
  
  <div class="footer-content">
    <div class="footer-column">
      <h3>Get to Know Us</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press Releases</a></li>
        <li><a href="#">Amazon Science</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Connect with Us</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Make Money with Us</h3>
      <ul>
        <li><a href="#">Sell on Amazon</a></li>
        <li><a href="#">Sell under Amazon Accelerator</a></li>
        <li><a href="#">Protect and Build Your Brand</a></li>
        <li><a href="#">Amazon Global Selling</a></li>
        <li><a href="#">Become an Affiliate</a></li>
        <li><a href="#">Fulfillment by Amazon</a></li>
        <li><a href="#">Advertise Your Products</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Let Us Help You</h3>
      <ul>
        <li><a href="#">COVID-19 and Amazon</a></li>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Returns Centre</a></li>
        <li><a href="#">100% Purchase Protection</a></li>
        <li><a href="#">Amazon App Download</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="footer-logo">
      <img src="assets/amazonlogo.jpg" alt="Amazon Logo" class="amazon-logo">
    </div>
    
    <div class="footer-copyright">
      <p>&copy; 2025 Amazon Clone. All Rights Reserved.</p>
    </div>
  </div>
</footer>
