<nav class="category-nav">
  <div class="nav-container">
    <div class="hamburger-menu">
      <i class="fa fa-bars"></i>
      <span>All</span>
    </div>
    
    <ul class="category-list">
      <li class="category-item"><a href="#">Electronics</a></li>
      <li class="category-item"><a href="#">Sweets</a></li>
      <li class="category-item"><a href="#">Today's Deals</a></li>
      <li class="category-item"><a href="#">Customer Service</a></li>
      <li class="category-item"><a href="#">Gift Cards</a></li>
      <li class="category-item"><a href="#">Sell</a></li>
    </ul>
  </div>
</nav>
